* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
html{
    height: 180%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: linear-gradient(#40576d, #24303c);
  }
body{
    background-image: linear-gradient(#a02c2c, #5c1111);
  }
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-radius: 20px;
    border-color: #000000;
    font-size: 90;
    font-family: 'calibri';
    text-align: center;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 1330px;  
    background-size:100%, 100%;
    text-shadow: 
                -2px -2px 0 rgb(255, 255, 255),  
                2px -2px 0 rgb(255, 0, 0),
                -2px 2px 0 rgb(0, 0, 0),
                2px 2px 0 rgb(255, 0, 0);
    
}

h2{
    position: relative;
    top: 60px;
    font-size: 40;
    text-decoration: none;
    width: 400px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    border-radius: 4%;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    box-shadow: 7px 7px 17px #000000;
}



h3{
    color:#ffffff;
    position: relative;
    top: 260px;
    font-size: 25;
    font-family: 'calibri';
    text-align: center;
}

.button {
    background-color: #24303c;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
}

.button::after {
    content: '';
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s;
}

.button:hover {
    background-color: #1e2933;
    transform: scale(1.05);
}

.button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}
.iniciar_sesion .button{
    position: relative;
    top: 140px;
    right: 120px;
}
.registrarse .button{
    position: relative;
    top: 84px;
    left: 120px;
}

logo1{
    position: relative;
    top: 170px;
    right: 60px;
}

logo2{
    position: relative;
    top: 120px;
    left: 60px;
}